<div class="container centered-content">
    <h1 class="text-primary">Welcome to Coding Thunder</h1>
    <p class="lead">Your favorite place to read and learn about coding.</p>
    <a href="/blog" class="btn btn-primary btn-lg mt-3">Explore Blogs</a>
</div>
